<configuration>
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="midi-analysis"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>midi-analysis.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>midi-analysis.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10KB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="all-log"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>all.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ALL</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>all.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10KB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ru.liga" level="all" additivity="false">
        <appender-ref ref="Console"/>
        <appender-ref ref="midi-analysis"/>
        <appender-ref ref="all-log"/>
    </logger>

    <root level="all">
        <appender-ref ref="midi-analysis"/>
        <appender-ref ref="Console"/>
        <appender-ref ref="all-log"/>
    </root>


    <!--    <logger name="ru.liga.all" level="all" additivity="false">-->
    <!--        <appender-ref ref="all-log"/>-->
    <!--    </logger>-->
</configuration>